@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (64px + 48px));
  width: 40%;
  background: linear-gradient(to bottom, #9be15d, #00e3ae); /* Green Gradient */
  border-radius: 25px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  padding: 3em 2em;
  font-family: 'Comfortaa', cursive;
}

.animated-image {
  width: 150px;
  height: 150px;
  margin-bottom: 2em;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animated-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #ffffff; /* White Text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
}

button {
  flex-grow: 1;
  margin: 5px;
  padding: 20px;
  font-size: 1.5em;
  background-color: #c4e0dd; /* Light Blue Background */
  border: none;
  color: #ffffff; /* White Text */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

button:hover {
  background-color: #a8d8ea; /* Lighter Blue on Hover */
}

.prev-btn {
  font-size: 1em;
  color: #ffffff;
  background-color: #edf492; /* Yellow Background */
  padding: 15px 25px;
  max-width: 130px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #edf492 0%, #abffa5 99%, #abffa5 100%); /* Green Gradient */
}

.prev-btn:hover {
  background-color: #d8fc12;
  background: linear-gradient(45deg, #d8fc12 0%, #a1ffce 99%, #a1ffce 100%); /* Brighter Green Gradient on Hover */
}

.my-button {
  font-size: 1.2em;
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.my-button[mat-raised-button][color="primary"] {
  background-color: #3f51b5;
  color: white;
}

.my-button[mat-raised-button][color="accent"] {
  background-color: #ff4081;
  color: white;
}
