<div class = "page-container">
	<div class="input-fields">
		<h1>Feeling Lucky?</h1>
		<label>The Total Bill</label>
		<input [(ngModel)]="billAmount" type="number">
		<label>My Tip</label>
		<input [(ngModel)]="myTip" (ngModelChange)="setMyTip($event)" type="number">
	</div>
	<div class="result">
		<h1>The Final Tip</h1>
		<p>{{ finalTip | currency:'USD':true:'1.2-2' }}</p>
	</div>

	<button id ="spin" (mousedown)="startSpin()" (mouseup)="stopSpin()">Spin</button>

	<div class="wheel">
		<span class="arrow"></span>
		<div #container class="container">
			<div class="one">${{myTip}}</div>
			<div class="two">$100</div>
			<div class="three">100%</div>
			<div class="four">10%</div>
			<div class="five">12%</div>
			<div class="six">15%</div>
			<div class="seven">18%</div>
			<div class="eight">20%</div>
		</div>
	</div>

	<div class="power-bar">
		<div class="power-bar-fill" [style.width.%]="power"></div>
	</div>
</div>