@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text-center {
    text-align: center;
}

.container {
    width: 90vw;
    max-width: 600px;  /* new */
    height: calc(100vh - (64px + 48px)); 
    padding: 1em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
    background-color: aliceblue;
}

.header {
    padding-top: 10px;
    font-size: 23px;
    color: #424242;
    text-shadow: 2px 2px 4px #BDBDBD;
}

button, .custom-tip {
    margin: 5px;
    margin-bottom: 15px;
    font-size: 20px; 
    padding: 10px; 
    height: 60px; 
    width: 90%;
}

@media (min-width: 480px) {
    button, .custom-tip {
        width: 45%;
    }
}

@media (min-width: 600px) {
    button, .custom-tip {
        width: 30%;
    }
}

mat-divider {
    margin-bottom: 30px;
}

mat-form-field {
    width: 100%; 
    margin: auto; 
}

.input-field {
    margin-bottom: -10px;
    border-radius: 15px;
    text-align: center; 
}

.input-field input {
    border: none;
    font-weight: 500;
    color: #424242; 
}

.input-field input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); 
}

.input-field mat-label {
    color: #757575;
    font-weight: 500; 
}

.top-container{
    padding-bottom: 10px;
}

.bottom-container{
    padding-top: 0px;
    border-radius: 15px;
}