<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <form>
        
        <h3>Tip Calculator</h3>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Total Bill">
            </div>
        </div>

        <div class="form-group">
        <label for="formControlRange">Tip:</label>
        <input type="range" class="form-control-range" id="formControlRange">
        </div>

        <hr>
        <h6> Results </h6>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Tip Amount</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" disabled>
            </div>
        </div>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Total Bill with Tip</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" disabled>
            </div>
        </div>

    </form>
</div>