<mat-card class="container mt-4">
    <mat-card-header>
        <mat-card-title>
            <h1 class="text-center">Grocery List</h1>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field class="full-width">
            <input matInput placeholder="Add an item" [(ngModel)]="newItem" (keydown.enter)="addItem()">
            <button mat-icon-button matSuffix aria-label="Add Item" (click)="addItem()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>

        <div class="scrollable-list">
            <mat-list>
                <mat-list-item *ngFor="let item of items; let i = index">
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="items[i]" readonly>
                        <button mat-icon-button matSuffix color="warn" aria-label="Delete Item" (click)="deleteItem(i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>

        <div class="text-center mt-3">
            <button mat-raised-button color="warn" (click)="clearItems()">Clear All</button>
        </div>
    </mat-card-content>
</mat-card>
