@keyframes bounceInDown {
    0% { transform: translateY(-50%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes flipInX {
    0% { transform: perspective(400px) rotateX(90deg); opacity: 0; }
    100% { transform: perspective(400px) rotateX(0); opacity: 1; }
}

@keyframes fadeInUp {
    0% { transform: translateY(50%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    /* Adjust the size as you need */
    width: 200px;
    height: 200px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px); 
    padding: 1em;
    background-color: #f0f0f0; /* light gray */
    box-sizing: border-box;
}



.card {
    animation: bounceInDown 1s;
    /* add your preferred styling for the card */
}

.card-header, .card-content, .card-footer {
    padding: 15px;
}

.header-icon {
    /* add your preferred styling for the header-icon */
}

.accordion .panel {
    margin-top: 10px;
    animation: flipInX 1s;
    /* add your preferred styling for the panel */
}

.panel-header {
    /* add your preferred styling for the panel-header */
}

.card-footer {
    animation: fadeInUp 1s;
    /* add your preferred styling for the footer */
}
