<div class="container">
    <mat-card class="card">
        <div class="card-header">
            <img src="/assets/images/Hi_Five_Ghost.webp" class="header-image">
            <mat-card-title>Welcome to DailySolutions!</mat-card-title>
        </div>
        <div class="card-content">
            <p>
                Tip calculation. Weather updates. Grocery lists. Rock-Paper-Scissors. All here.
            </p>
        </div>
        <div class="card-footer">
            <p>DailySolutions - Simplifying daily tasks or boredom, one tool at a time.</p>
        </div>
    </mat-card>
</div>
  